.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  overflow: hidden;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow-new {
  /* position: none ;
  top: 50%;
  left: -0.5rem; */
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

.show-6 {
  width: calc(80% / 6);
  border-radius: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 5px;
}

.slider img {
  /* width: 100%; */
  /* height: 80px; */
  border-radius: 50%;
  /* margin: 30px; */
}

.arrow-wrapper-left {
  width: 10%;
  position: absolute;
  top: 50%;
  left: 0;
}
.arrow-wrapper-right {
  width: 10%;
  position: absolute;
  top: 50%;
  right: 0;
}
